* {
    box-sizing: border-box;
}

.logoNavStyle {
    height: 80px;
    width: 280px;
    margin: .5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#navbar {
    background-color: #333;
    color: white;
    margin: 0;
    padding-left: 47%;
    padding-right: 50%;
    display: flex;
}

.hide {
    display: none;
}

#navbar li {
    list-style: none;
    font-weight: bold;
    padding: 1%;
}

#navbar li a {
    text-decoration: none;
    color: aliceblue;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
}

#navbar li a:hover{
    text-decoration: none;
    color: rgb(117, 117, 117);
    padding-left: 100px;
    padding-right: 100px;
    display: block;
}

.dashboard {
    text-align: center;
}

.exerciseDisplay {
    display: flex;
    justify-content: center;
}

.inputFields {
    background-color: rgb(160, 244, 255);
    border: 1px dotted rgb(0, 65, 139);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.currentExercises {
    background-color: rgb(160, 244, 255);
    border: 1px dotted rgb(0, 65, 139);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.lift {
    background-color: rgb(228, 252, 255);
    border-radius: 10px;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.errorMsg {
    color: rgb(145, 0, 0);
    font-style: italic;
}

.bodyweightCheckbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 600
}