/* .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: gray;
    padding: 10px;
}

 .navbar__item {
    color: aliceblue;
    flex-basis: 20%;
    list-style-type: none;
} */

/* .navbar__logout {
    margin-left: auto;
} */

